body {
	margin: auto;
	padding: auto;
	background-image: url(images/windows-7official-wallpaper.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	background-color: #003399;
}

p, ul, ol {
	margin-top: 0px;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #534616;
}

button {
	width: 150px;
	height: 30px;
	background-color: #0033FF;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
}

input {
	border: 2px solid #000000;
}
/* Wrapper */

#wrapper {
	width: 960px;
	margin: 0px auto;
	padding: 0px;	
}

/* Header */

#header {
	width: 960px;
	height: 100px;	
}

/* Logo */

#logo {
	margin-top: auto;
	
}

/* Menu */

#menu {
	overflow: hidden;
	width: 960px;
	padding: 1px;
	background-color: #003399;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
	//-moz-border-radius: 15px 15px 0 0;
	//border-radius: 15px 15px 0 0 ;
}

#menu a{
	display: block;
	float: left;
	width: 70px;
	height: 40px;
	margin-left: 15px;
	background-color: #003399;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);	
	color: #FFFFFF;
	line-height: 40px;
	text-align: center;
}

#menu a:hover {
	text-decoration: underline;
}

/* Chart */

#chart_wrapper {

	//float: center;
	padding: 10px;
	border: 4px solid #000000;
}


/* Sidebar */

#sidebar {
	float: left;
	width: 200px;
	padding: 0px;
	color: #000000;	
}

#sidebar ul {
	padding: 0px;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin-bottom: 10px;
	padding: 10px 10px 10px 20px;
	background: #FFFFFF;
}

#sidebar li li {
	line-height: 30px;
	padding-left: 3px;
}

#sidebar h3 {
	height: 40px;
	padding: 0px 0px 0px 15px;
	line-height: 40px;
	background: #003399;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
	color: #FFFFFF;
}



#sidebar a:hover {
	text-decoration: underline;
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	padding: 5px 0px 0px 0px;
}

/* Content */

#content {
	float: right;
	width: 750px;
	padding: 0;
	margin: 0;
}

#title{
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;

}


.post {
	margin: 0px 10px 10px 10px;
	padding: 0px;
	background: #FFFFFF;
	width: 350px; 
	display: inline-block;
	-moz-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px ;
	
}

.post .title {
	height: 40px;
	background-color: #003399;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
	padding-left: 15px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 40px;
	width: 340px;
	-moz-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0 ;
	
}

.post .title h3{
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
	background-color: #003399;
	-moz-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0 ;
}

.post .title a {
	color: #FFFFFF;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
}

.post .title a:hover {
	text-decoration: underline;
}

.post .entry {
	width: 340px;
	background-color: #FFFFFF;
	padding: 10px 0px 10px 15px;
	text-align: justify;
}

.post .post_footer {
	height: 30px;
	width: 350px;
	line-height: 30px;
	padding-bottom: 5px;
	padding-left: 5px;
	background-color: #003399;
	-moz-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}

.post .post_footer img{
	margin: 5px;
}

/*
.post .meta {
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}
*/

/* Footer */

#footer {
	width: 960px;
	height: 64px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 26px;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	color: #898989;
}

#footer a {
	font-weight: bold;
	color: #898989;
}

/* Login CSS*/
#msg{
	position:absolute;
	top:190px;
	left:270;
}

/* Insert new local CSS*/

#form_new{
		color: #000000;
		font-size: 15px;
		font-weight: bold;
}
#alternatives {
		font-size: 15px;
		font-weight: bold;
}
#alternatives a{
		color: #000000;
		font-size: 15px;
		font-weight: bold;
		text-decoration:underline;
}

#zone_select{
	border: 2px solid #000000;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 15px;
	/*font-weight: bold;
	
	scrollbar-face-color: black;
     scrollbar-shadow-color: #333333;
     scrollbar-highlight-color: #333333;
     scrollbar-3dlight-color: #333333;
     scrollbar-darkshadow-color: #333333;
     scrollbar-track-color: black;
     scrollbar-arrow-color:#4F8282;
	*/
}


/*Template locale*/

.lpost{
	margin: 0px 10px 10px 10px;
	background: #FFFFFF;
	width: auto;
	-moz-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px ;
	
}

.lpost .title {
	height: 40px;
	background-color: #003399;
	/*background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);*/
	
	color: #FFFFFF;
	font-weight: bold;
	line-height: 40px;
	-moz-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0 ;
	
}

.lpost .title h3{
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
	background-color: #003399;
	-moz-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0 ;
}

.lpost .title h3 a {
	color: #FFFFFF;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
	padding-left: 15px;
}

.lpost .title h3 a:hover {
	text-decoration: underline;
}

.lpost .entry {
	
	background-color: #FFFFFF;
	padding: 10px 15px 10px 15px;
	text-align: justify;
}

.lpost .entry img{
	
	width: 200px;
	height: 200px;
	float: right;
}

.lpost .entry p{
	width: auto;
	height: 200px;
	float: left;

}

.lpost .description{

	background-color: #FFFFFF;
	padding: 10px 15px 10px 15px;
	text-align: justify;
}

.lpost #map_locale{
	height: 300px;
	border: 1px solid black;
	margin: 15px;
}

.lpost .lpost_footer {

	height: 30px;
	line-height: 30px;
	padding-bottom: 5px;
	padding-left: 5px;
	background-color: #003399;
	-moz-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}

.lpost .lpost_footer img{
	margin: 5px;
}


/*##################################################*/
/* Search */

#search {
	float: right;
	width: 300px;
	height: 110px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 50px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 5px 5px 4px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #703522;
}

#search-submit {
	width: 50px;
	height: 25px;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}
