body {
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
}
/*
h1, h2,*/ h3 {
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	background-color: #003399;
}

p, ul, ol {
	margin-top: 0px;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #534616;
}

button {
	width: 150px;
	height: 30px;
	background-color: #0033FF;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
}

input {
	border: 2px solid #000000;
}
/* Wrapper */

#wrapper {
	width: 1100px;
	margin: 0px auto;
	padding: 0px;	
}

/* Menu */

#menu {
	overflow: hidden;
	width: 1100px;
	padding: 1px;
	background-color: #003399;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
	//-moz-border-radius: 15px 15px 0 0;
	//border-radius: 15px 15px 0 0 ;
}

#menu a{
	display: block;
	float: left;
	width: 70px;
	height: 40px;
	margin-left: 15px;
	background-color: #003399;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);	
	color: #FFFFFF;
	line-height: 40px;
	text-align: center;
}

#menu a:hover {
	text-decoration: underline;
}

#content {
	width: 1100px;
	margin-top: 3px;
	//border: 1px solid #0000FF;
}

/* Chart */

#chart_wrapper {
	width: auto;
	//border: 1px solid #000000;
	float: right;
}


/* Sidebar */

#sidebar {
	float: left;
	width: auto;
	color: #000000;
	margin-left: 10px;
	//border: 1px solid #FF0000;
	//background-color: #A9D0F5;
}

#sidebar ul {
	padding: 0px;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin-bottom: 10px;
	padding: 10px 10px 10px 20px;
	background: #FFFFFF;
}

#sidebar li li {
	line-height: 30px;
	padding-left: 3px;
}

#sidebar h3 {
	height: 40px;
	padding: 0px 0px 0px 15px;
	line-height: 40px;
	background: #003399;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
	color: #FFFFFF;
}

#sidebar a:hover {
	text-decoration: underline;
}

#infoID {
	float: left;
	width: auto;
	color: #000000;	
	//border: 1px solid #FF0000;
	//background-color: #A9D0F5;
}

#title{
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;

}

/* Footer */

#footer {
	width: 960px;
	height: 64px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 26px;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	color: #898989;
}

#footer a {
	font-weight: bold;
	color: #898989;
}

/* Login CSS*/
#msg{
	position:absolute;
	top:190px;
	left:270px;
}


/*##################################################*/
/* Search */

#search {
	float: right;
	width: 300px;
	height: 110px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 50px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 5px 5px 4px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #703522;
}

#search-submit {
	width: 50px;
	height: 25px;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/*Datetimepicker*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }