body {
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
}
/*
h1, h2,*/ h3 {
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	//background-color: #003399;
}

p, ul, ol {
	margin-top: 0px;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #534616;
}

button {
	width: 150px;
	height: 30px;
	background-color: #0033FF;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
}

input {
	width:160px;
	border: 2px solid #000000;
}

input[type="submit"] {
	width:70px;
	border: 2px solid #000000;
}
 /* Title */

#title{
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;

}

/* Wrapper */

#wrapper {
	width: 1100px;
	margin: 0px auto;
	padding: 0px;
	overflow:hidden;
}

/* Menu */
#menu {
	overflow: hidden;
	width: 1100px;
	padding: 1px;
	background-color: #003399;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	
}

#menu a{
	display: block;
	float: left;
	width: 70px;
	height: 40px;
	margin-left: 15px;
	background-color: #003399;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);	
	color: #FFFFFF;
	line-height: 40px;
	text-align: center;
}

#menu a:hover {
	text-decoration: underline;
}

#contents {
	width: 1100px;
	height: auto;
	margin-top: 3px;
}

/* Chart */
#chart_wrapper {
	width: 80%;
	float: right;
	margin-top: 5px;
}

/* Sidebar */

#sidebar {
	float: left;
	margin-top: 5px;
	padding-top: 10px;
	width: 19%;
	color: #000000;
	background: #003399;
	background-image: -moz-linear-gradient(0% 100% 90deg,#003399, #003399, #0044CC 56%);
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

#sidebar a:hover {
	text-decoration: underline;
}

#infoID {
	float: left;
	color: #000000;
}

/* Date time form */
#datetime {
	overflow: hidden;
	padding-left: 10px;
	float: left;
}

#datetime form{
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}

#datetime div, #datetime input {
	display: inline;
	float: left;
}

#idate{
	display: inline;
	float: left;
	margin-top: 5px;
}

/* Footer */

#footer {
	width: 960px;
	height: 64px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 26px;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	color: #898989;
}

#footer a {
	font-weight: bold;
	color: #898989;
}

/* Login CSS*/
#msg{
	position:absolute;
	top:190px;
	left:270px;
}


/*Datetimepicker*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }